/**
 * Project custom scss
 */
.table {
  font-size: inherit;
}

.btn-sm-no-icon {
  @extend .btn-sm;
}

.zero-results {
  margin-top: 35px;
  font-size: 14px;
  color: $grey;
  font-style:italic;
}

.brand-bg {
  background-image: url(../media/misc/head_bg_sm.jpg)
}

.language_form {
  padding: 0;
  margin: 0;
}